<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="stylesheet" href="../styles/base.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../styles/bootstrap.min.css" />
  </head>
  <body>
    <!-- header -->
    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Travel Planner</h1>
          <p class="lead my-3">
            Choose your dream holiday destination and date of your trip. We will
            show you weather forcast and cool picture
          </p>
        </div>
      </div>
      <!--  mini-menu-->

      <div class="p-3 row your-trips">
        <div class="col-md-6"><h4 class="font-italic">Your trips</h4></div>
        <div class="col-md-6">
          <div class="text-right">
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTripModal" data-whatever="@fat">Open modal for @fat</button> -->
            <button type="button" class="btn btn-info pb-2"  data-toggle="modal" data-target="#addTripModal">Add trip</button>
          </div>
        </div>
      </div>

      <!-- cards -->
      <div id="cards"></div>
      
    </div>

    <!-- modal -->


<div class="modal fade" id="addTripModal" tabindex="-1" role="dialog" aria-labelledby="addTripModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTripModalLabel">Add Trip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="trip-location" class="col-form-label">Location:</label>
            <input type="text" class="form-control" id="trip-location">
          </div>
          <div class="form-group">
            <label for="trip-date" class="col-form-label">Date:</label>
            <input type="text" class="form-control" id="trip-date"> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="createTrip()">Create</button>
      </div>
    </div>
  </div>
</div>
<script>


async function getTrips(){
  const url = "http://localhost:3030/trip"
  console.log("REQUEST URL: " + url);
  const trips = await fetch(url).then(response => response.json());

  console.log("RESPONSE: " + trips)
  const tripsDiv = document.getElementById('cards')

  trips.forEach(trip => 
    {
    const tripCard = document.createElement('div');
    tripCard.innerHTML = createCard(trip);
      tripsDiv.appendChild(tripCard)
    }  
  );



}

function createCard(trip){

  return `<div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <img
        class="trip-image card-img-left "
        alt="Destination Image"
        style="max-width: 400px; max-height: 400px;"
        src="${trip.image}"
      />
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            My Trip to: <span class="trip-destination">${trip.destination}</span>
          </h3>
          <h3 class="mb-0">
            Departing: <span class="departure">${trip.dateString}</span>
          </h3>
          <div class="my-3">
              <button class="btn btn-info remove-trip-btn" onclick="removeTrip(${trip.id})">Remove Trip</button>

          </div>
          <p class="card-text mb-auto">
            Paris, France is <strong><span class="days-remaining">${trip.daysRemaining}</span></strong> days away
          </p>
          <p class="card-text mb-auto">
            Typical weather for then is:
            <div class="mb-1 text-muted"> High: <span class="temp-high">${trip.weather.max}</span> Low: <span class="temp-low">${trip.weather.min}</span></div>
            <div class="mb-1 text-muted weather-desc">${trip.weather.desc}
            </div>

          </p>
        </div>
       
      </div>`

      
}


function removeTrip(id){
  console.log("removing trip: " + id)

}

async function createTrip(){
  const destination = document.getElementById('trip-location').value;
  const date = document.getElementById('trip-date').value;
  console.log('create trip clicked')
  const body = {date, destination};
  console.log("REQUEST BODY: " + JSON.stringify(body));
  const url = "http://localhost:3030/trip"
  console.log("REQUEST URL: " + url);
  const response = await fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({date, destination})
      }).then(response => response.json());
  // log result
  console.log("RESPONSE: " + JSON.stringify(response))
  //close modal
  $('#addTripModal').modal('hide');
  // get trips from API and render
  getTrips();

}

$('#addTripModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
    console.log('showing modal')
})

getTrips();
</script>
  </body>
</html>

<!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
