$border-color: #545454;
$text-color: #495057;

form {
  margin-top: 1rem;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  color: $text-color;
}

#results {
  margin-top: 1rem;
  height: auto;
  width: 100%;
  color: $text-color;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  overflow: auto;
  resize: vertical;
}
